.enemy-card {
  border: 1px solid red;
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
}

.enemy-card > .name {
  margin: 0;
  margin: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.enemy-card > .resistance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.resistance {
  margin: 0;
  padding: 0;
}

.resistance > li {
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.resistance > li > img {
  display: block;
  width: 100%;
}
