.register {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.register > form {
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 10px;
}
