#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.-loading {
  background: red;
  font-size: 0;
}

.-loading:before {
  content: 'loading...';
  font-size: 16px;
}
